<!--
  Generated template for the ListaRotasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lista de rotas</ion-title>
    <button ion-button menuToggle float-left>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let rota of rotas">
  
    <img src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&path=enc%3A{{rota.polyline}}&markers=label:I%7C{{rota.caminho[0].lat}},{{rota.caminho[0].long}}&markers=label:F%7C{{rota.caminho[rota.caminho.length - 1].lat}},{{rota.caminho[rota.caminho.length - 1].long}}">
   
    <ion-item>
      <ion-icon name="md-car" item-left large ></ion-icon>
      <h2>Carro </h2>
      <p>{{rota.carro.modelo}} ●  {{rota.carro.placa}}</p>
    </ion-item>
  
    <ion-item>
      <span item-left>Valor: {{rota.valor}}</span>
      <span item-left>Hora: {{rota.hora}}</span>
    </ion-item>
  
  </ion-card>
</ion-content>
