<!--
  Generated template for the CriarContaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Criar nova conta</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding-top>
    <form  [formGroup]="cadastro">
        <ion-list>
          <ion-item>
            <ion-label floating>Seu nome</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>CPF</ion-label>
            <ion-input type="tel" formControlName="cpf"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Telefone</ion-label>
            <ion-input type="tel" formControlName="telefone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tipo da conta</ion-label>
            <ion-select formControlName="tipo" (ionChange)="valid(tipo)" [(ngModel)]="tipo">
              <ion-option value="pass">Passageiro</ion-option>
              <ion-option value="mot">Motorista</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="tipo == 'mot'">
            <ion-label floating>Número de registro da CNH</ion-label>
            <ion-input type="tel" formControlName="cnh"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input type="password" formControlName="senha"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Confirmar Senha</ion-label>
            <ion-input type="password" formControlName="confirma_senha"></ion-input>
          </ion-item>
        </ion-list>
    </form>
  
    <div text-center margin-bottom>
      <button class="button-carona secundary" [disabled]="!cadastro.valid" (click)="cadastrar()">
          <div>Registrar</div>
      </button>
    </div>
    
  </ion-content>
  