<!--
  Generated template for the LoginEmailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrar com email</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-top>
  <form [formGroup]="login">
    <ion-list>
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  
  <div text-center margin-bottom>
    <button class="button-carona secundary" [disabled]="!login.valid" (click)="logar()">
        <div>Acessar</div>
    </button>
  </div>
  
</ion-content>