<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle float-left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
    <ion-buttons end *ngIf="user.CNH">
      <button ion-button icon-only (click)="moveToVeiculos()">
        <ion-icon name="md-car"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="perfil-cover">
    <div class="perfil-avatar" >
      <div class="avatar-image"></div>
      <div class="avatar-button"><ion-icon name="camera" color="gray"></ion-icon> Foto</div>
    </div>
  </div>
  <form [formGroup]="perfil">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input type="tel" formControlName="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo da conta</ion-label>
        <ion-select formControlName="tipo" (ionChange)="valid(tipo)" [(ngModel)]="tipo">
          <ion-option value="pass">Passageiro</ion-option>
          <ion-option value="mot">Motorista</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="tipo == 'mot'">
        <ion-label floating>Número de registro da CNH</ion-label>
        <ion-input type="tel" formControlName="cnh"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar text-center padding-top>
     <button class="button-carona secundary" [disabled]="!perfil.valid" (click)="editar()">Salvar perfil</button>
  </ion-toolbar> 
</ion-footer>
