<!--
  Generated template for the ListaViagensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Lista de viagens</ion-title>
      <button ion-button menuToggle float-left>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header *ngIf="viagens_mot">
    Motorista
  </ion-list-header>
  <ion-card *ngFor="let viagem of viagens_mot">
  
    <img src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&path=enc%3A{{viagem.rota.polyline}}{{markers(viagem)}}">
   
    <ion-item *ngFor="let passageiro of viagem.passageiro">
      <ion-icon name="md-person" item-left large ></ion-icon>
      <h2>{{passageiro.perfil.nome}} </h2>
      <p>{{passageiro.perfil.telefone}} ● {{passageiro.pago == 1 ? 'Pago' : 'Não pago'}}</p>
      <button *ngIf="passageiro.pago == 0" ion-button clear  (click)="marcarPago(passageiro.id)">
        <ion-icon name="md-cash"></ion-icon>
        Marcar como pago
      </button>
    </ion-item>
  
    <ion-item>
      <span item-left>Valor: R$ {{viagem.rota.valor}}</span>
      <span item-left>Hora: {{viagem.rota.hora}}</span>
    </ion-item>
  
  </ion-card>
  <ion-list-header *ngIf="viagens_pass">
    Passageiro
  </ion-list-header>
  <ion-card *ngFor="let viagem of viagens_pass">
  
    <img src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&path=enc%3A{{viagem.rota.polyline}}&markers=label:I%7C{{viagem.rota.caminho[0].lat}},{{viagem.rota.caminho[0].long}}&markers=label:F%7C{{viagem.rota.caminho[viagem.rota.caminho.length - 1].lat}},{{viagem.rota.caminho[viagem.rota.caminho.length - 1].long}}">
   
    <ion-item>
      <ion-icon name="md-person" item-left large ></ion-icon>
      <h2>{{viagem.rota.motorista.nome}} </h2>
      <p>{{viagem.rota.motorista.telefone}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="md-car" item-left large ></ion-icon>
      <h2>Carro </h2>
      <p>{{viagem.rota.carro.modelo}} ●  {{viagem.rota.carro.placa}}</p>
    </ion-item>
  
    <ion-item>
      <span item-left>Valor: R$ {{viagem.rota.valor}}</span>
      <span item-left>Hora: {{viagem.rota.hora}}</span>
    </ion-item>
  
  </ion-card>
</ion-content>
