<!--
  Generated template for the ResultRotasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Rotas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let rota of rotas.rotas">
  
    <img src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&path=enc%3A{{rota.polyline}}&markers=label:I%7C{{rota.caminho[0].lat}},{{rota.caminho[0].long}}&markers=label:F%7C{{rota.caminho[rota.caminho.length - 1].lat}},{{rota.caminho[rota.caminho.length - 1].long}}&markers=label:V%7C{{caminho[0].lat}},{{caminho[0].lng}}">
  
    <ion-item>
      <ion-icon name="md-person" item-start large></ion-icon>
      <h2>Motorista</h2>
      <p>{{rota.motorista.nome}} ● {{rota.motorista.telefone}}</p>
    </ion-item>
  
    <ion-item>
      <ion-icon name="md-car" item-left large ></ion-icon>
      <h2>Carro </h2>
      <p>{{rota.carro.modelo}} ●  {{rota.carro.placa}}</p>
    </ion-item>
  
    <ion-item>
      <span item-left>Valor: {{rota.valor}}</span>
      <span item-left>Hora: {{rota.hora}}</span>
      <button ion-button icon-left clear item-end (click)="escolher(rota.id)">
        <ion-icon name="navigate"></ion-icon>
        Escolher
      </button>
    </ion-item>
  
  </ion-card>
</ion-content>
