<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content >
  <div class="color-bg-primary main-container">
    <div class="welcome-box"><img class="brand" src="assets/images/brand.png" width="95">
      <div class="button-carona primary" (click)='login()'>
        <div>Entrar</div>
      </div>
      <div class="button-carona" (click)='cadastro()'>
        <div>Criar nova conta</div> 
      </div>
    </div>
  </div>
</ion-content>
