// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.main-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #c7c7c7;
}
.main-container.color-bg-primary {
    background-color: #0077E0;
}
.brand {
    margin-bottom: 25px;
}
.welcome-box {
    width: 283px;
    margin-top: 100px;
    padding: 70px 25px 25px;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
}
.welcome-link {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Lato, sans-serif;
    color: #a5a5a5;
    font-weight: 300;
    text-decoration: none;
}
.welcome-link.color-default {
    font-family: Lato, sans-serif;
    color: #0077E0;
    font-weight: 300;
}
ion-label{
    font-size: 16px;
    font-weight: 200;
}
.button-carona {
    display: inline-block;
    margin-bottom: 12px;
    padding: 10px 17px;
    border-radius: 4px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .24);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-decoration: none;
    width: 220px;
    text-align: center;
}
.button-carona:active {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .16);
}
.button-carona.primary {
    width: 220px;
    background-color: #3E96E3;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #000000;
}
.button-carona.primary:active {
    background-color: #004A8D;
}
.button-carona.secundary {
    width: 220px;
    background-color: #0077E0;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #ffffff
}
.button-carona.secundary:active {
    background-color: #004A8D;
}
.side-menu {
    z-index: 10;
    width: 300px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .36);
}
.navlink {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-weight: 300;
}
.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.w-nav-link.w--current {
    color: #0082f3;
}
.perfil-cover {
    height: 200px;
    margin-bottom: 55px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/images/cover2.png');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    font-family: Lato, sans-serif;
}
.button-photo-cover {
    padding: 20px;
    color: #fff;
    text-align: right;
}
.perfil-avatar {
    position: relative;
    top: 55px;
    z-index: 9;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.avatar-image {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    background-image: url('../assets/images/avatar4.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 3px 0 #000;
}
.avatar-button {
    padding: 10px;
    color: #000;
    font-weight: 700;
}
.veiculo-list{
    .veiculo-title{
        font-weight: 300 !important;
        font-family: Lato !important;
        margin-left: 7px;
        color:#000000;
        font-size: 20px;
    }
    .veiculo-subTitle{
        font-weight: 300 !important;
        font-family: Lato !important;
        margin-left: 15px;
        color:#000000;
        font-size: 15px;
    }
}