<!--
  Generated template for the ProcurarRotaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procurar carona</ion-title>
    <button ion-button menuToggle float-left>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
    <div #map id="map" style="height:70%;"></div>
    <form  [formGroup]="busca">
        <ion-list>
          <ion-item>
            <ion-label fixed>Origem</ion-label>
            <ion-input #origem type="text" formControlName="origem" (focusout)='onChangeInputOrigem($event)'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>Destino</ion-label>
            <ion-input #destino type="text" formControlName="destino" (focusout)='onChangeInputDestino($event)'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Dias da semana:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label fixed>Domingo</ion-label>
            <ion-checkbox formControlName="0" ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label fixed>Segunda</ion-label>
            <ion-checkbox formControlName="1" ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label fixed>Terça</ion-label>
            <ion-checkbox formControlName="2" ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label fixed>Quarta</ion-label>
            <ion-checkbox formControlName="3" ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label fixed>Quinta</ion-label>
            <ion-checkbox formControlName="4" ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label fixed>Sexta</ion-label>
            <ion-checkbox formControlName="5" ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label fixed>Sabado</ion-label>
            <ion-checkbox formControlName="6" ></ion-checkbox>
          </ion-item>
        </ion-list>
    </form>
  
    <div text-center margin-bottom>
      <button class="button-carona secundary" [disabled]="!busca.valid" (click)="buscar()">
          <div>Buscar</div>
      </button>
    </div>
</ion-content>
