<!--
  Generated template for the CriarContaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Editar veiculo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding-top>
  <form  [formGroup]="cadastro">
      <ion-list>
        <ion-item>
          <ion-label>Veiculo</ion-label>
          <ion-select formControlName="veiculo">
            <ion-option value="carro">Carro</ion-option>
            <ion-option value="moto">Moto</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Marca</ion-label>
          <ion-input type="text" formControlName="marca"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Modelo</ion-label>
          <ion-input type="text" formControlName="modelo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Placa</ion-label>
          <ion-input type="text" formControlName="placa"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Ano</ion-label>
          <ion-input type="tel" formControlName="ano"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cor</ion-label>
          <ion-input type="text" formControlName="cor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Capacidade de passageiros</ion-label>
          <ion-input type="tel" formControlName="capacidade"></ion-input>
        </ion-item>
      </ion-list>
  </form>

  <div text-center margin-bottom>
    <button class="button-carona secundary" [disabled]="!cadastro.valid" (click)="editar()">
        <div>Editar</div>
    </button>
  </div>
  
</ion-content>
    