<!--
  Generated template for the NotificacoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>Veiculos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cadastro()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
  
  <ion-content>
    <ion-list-header>
      Carros
    </ion-list-header>
    <ion-list>
      <div *ngFor="let veiculo of veiculos">
        <ion-item-sliding class="veiculo-list">
          <ion-item >
            <h4 class="veiculo-title">{{veiculo.modelo}}</h4>
            <h3 class="veiculo-subTitle">{{veiculo.placa}}</h3>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="edit" (click)="editar()">
              <ion-icon name="md-create"></ion-icon>
              Editar
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="excluir()">
              <ion-icon name="trash"></ion-icon>
              Excluir
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>

  </ion-content>
  