<!--
  Generated template for the CriarContaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Cadastrar conta</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding-top>
  <form  [formGroup]="cadastro">
      <ion-list>
        <ion-item>
          <ion-label floating>Marca</ion-label>
          <ion-input type="text" formControlName="marca"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Modelo</ion-label>
          <ion-input type="text" formControlName="modelo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Placa</ion-label>
          <ion-input type="text" formControlName="placa"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Ano</ion-label>
          <ion-input type="tel" formControlName="ano"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cor</ion-label>
          <ion-input type="text" formControlName="cor"></ion-input>
        </ion-item>
      </ion-list>
  </form>

  <div text-center margin-bottom>
    <button class="button-carona secundary" [disabled]="!cadastro.valid" (click)="cadastrar()">
        <div>Cadastrar</div>
    </button>
  </div>
  
</ion-content>
    