<ion-menu [content]="content" persistent="true">
  
    <ion-content >
      <nav class="side-menu w-nav-menu" role="navigation">
  
        <ion-list>
          <ion-item *ngFor="let p of pages" (click)="openPage(p.page)">
            <div class="navlink w-nav-link">
              <ion-icon name="{{p.icon}}"></ion-icon>
              {{p.title}}
            </div>
          </ion-item>
        </ion-list>
  
      </nav>
  
    </ion-content>
  
  </ion-menu>
  
  <ion-nav [root]="rootPage" #content></ion-nav>
  